// COLOR VARIABLES
:root{
    --color-background: #23304C;
    --color-white: white;
    --color-grey-white: #FAFAFA;
    --color-grey: #666E7B;
    --color-grey-blue: rgba(133, 159, 193, 1);
    --color-grey-blue-dark:rgba(76, 85, 101, 0.85);
    --color-grey-dark: #444444;
    --color-blue: hsl(212, 82%, 54%);
    --color-blue-hover: hsl(212, 100%, 65%);
}